#index-section-1-background {
    --div-height: 550px;
    --div-width: 55%;
    --div-right-offset: 50px;
    
    --parent-height: 700px;
    --margin-top: calc(var(--parent-height) - (var(--div-height) + var(--div-right-offset)));
}

#index-section-1-background .parent {
  position: relative;
  height: var(--parent-height);
  margin-top: var(--margin-top);
}

#index-section-1-background .child1 {
  position: absolute;
  left: 0;
  height: var(--div-height);
  width: var(--div-width);
  background-color: #ccc;
  top: 0;
}

#index-section-1-background .child2 {
  position: absolute;
  top: var(--div-right-offset);
  left: calc(100% - var(--div-width));
  height: var(--div-height);
  width: var(--div-width);
  background-color: #888;
}


