/* body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
}

html {
    scrollbar-width: none;
}
*/

@media (max-width: 640px){
    body::-webkit-scrollbar{
        display: none;
        -ms-overflow-style: none;
    }
    
    html {
        scrollbar-width: none;
    }
}

#hero-image {
    background-image: url('../images/video.png');
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-image #hero {
    //text-shadow: 0px 2px black;
}

#article-1-image {
    background-image: url('../images/index-h1-text.png')
}

#divider-line {
  height: 1px;
  background: #ADADAD;
  width: 100%;
}

#email, #first_name, #last_name, #message {
    border: 1px solid #232341;
}

#index-hero {
    background-image: url('../images/video.png');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#services-description-background {
    background-image: url('../images/services-background-2.png');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#services-dropdown-background {
    background-color: #F6F5F5;
}

#back-to-top-button {
    filter: invert(66%) sepia(0%) saturate(6%) hue-rotate(153deg) brightness(97%) contrast(84%);
}

#back-to-top-button:hover {
    filter: invert(0%) sepia(0%) saturate(1243%) hue-rotate(47deg) brightness(114%) contrast(78%);
}

/* --- World Map --- */

#world-map {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-image: url('../images/map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .map-point {
    position: absolute;
    border-radius: 50%;
    //background-color: #f44336;
    background-color: transparent; /* Use a transparent background */
    cursor: pointer;
  }
  
  .pop-up {
    position: absolute;
    top: 0;
    left: 130%;
    width: auto;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    pointer-events: none;
    z-index: 1;
    display: inline-block;
  }

  #map-point-mongolia .pop-up,
  #map-point-australia .pop-up{
    transform: translateX(-90%);
  }
  
  
  .map-point:hover .pop-up {
    opacity: 1;
    transform: translateX(0);
  }

  .map-point:hover {
    background-color: #FCB029;
  }
  
  
  @media (max-width: 640px) {
    /* Adjust the size and position of the map-points and pop-ups for smaller screens */
    .map-point {
      width: 12px;
      height: 12px;
    }
    
    .pop-up {
      padding: 10px;
    }
  }
  
  @media (min-width: 641px) and (max-width: 1024px) {
    /* Adjust the size and position of the map-points and pop-ups for medium-sized screens */
    .map-point {
      width: 16px;
      height: 16px;
    }
    
    .pop-up {
      padding: 12px;
    }
  }
  
  @media (min-width: 1025px) {
    /* Adjust the size and position of the map-points and pop-ups for larger screens */
    .map-point {
      width: 20px;
      height: 20px;
    }
    
    .pop-up {
      padding: 15px;
    }
  }